html,
body {
  height: 100%;
}

body {
  @extend %lato-600;
  color: $title;
  font-size: $font-size;
  line-height: $line-height;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

section {
  padding: 72px 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %lato-600;
  text-transform: uppercase;
  font-size: $font-size-h2;
  letter-spacing: 0.03em;
  color: $title;
  margin-bottom: 30px;
}

.button {
  @extend %lato-400;
  padding: 12px 24px;
  color: $white;
  background-color: $main-color;
  border-radius: 6px;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  outline: none;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $hover-btn;
  }
  &:active {
    background-color: $down-btn;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
  }
  &:focus {
    background-color: $down-btn;
    box-shadow: 0px 0px 0px 4px #E0EDCF;
  }
}
