html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: $title;
  font-size: $font-size;
  line-height: $line-height;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

section {
  padding: 72px 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: red;
  font-size: $font-size-h3;
  font-family: "Signika", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $title;
  margin-bottom: 30px;
}

.clicker {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 12px 24px;
  color: $white;
  background-color: $main-color;
  border-radius: 6px;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  border: none;
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $hover-btn;
  }
  &:focus {
    background-color: $down-btn;
    box-shadow: 0px 0px 0px 4px #e0edcf;
  }
  &--border {
    background-color: $white;
    border: 1px solid $down-btn;
    color: $down-btn;
    cursor: pointer;
  }
  &--border:hover {
    background-color: $green-100;
  }
  &--border:focus {
    background-color: $white;
    color: rgba(99, 166, 14, 0.5);
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
  }
}
