// Базовые цвета

$dark-900:                    #010009;
$dark-800:                    #31352b;
$dark-500:                    #505050;
$silver-600:                  #c1c1c1;
$silver-100:                  #f6f6f6;
$white:                       #ffffff;

$border-color:                #cfcfcf;
$bg-color:                    #f5f5f5;

$main-color:                  #63a60f;
$green-200:                   #e0edcf;
$green-100:                   #eff6e7;;
$accent:                      #cf3e3b;
$orange-900:                  #ff7a00;
$yellow-900:                  #ffb800;
$default:                     #505050;
$title:                       #121212;

// hovers
$hover-btn:                   #4d810c;
$down-btn:                    #63A60E;

// Типографика

%lato-300 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

%lato-400 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

%lato-600 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

%lato-700 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

%signika-600 {
  font-family: 'Signika', sans-serif;
  font-weight: 600;
}

%signika-700 {
  font-family: 'Signika', sans-serif;
  font-weight: 700;
}

$font-size:                   14px;
$line-height:                 1.4;

$font-size-h1:                80px;
$font-size-h2:                58px;
$font-size-h3:                32px;
$font-size-h4:                24px;
$font-size-h5:                18px;
$font-size-h6:                16px;