@import "reset";
@import "vars";
@import "fonts";
@import "global";

.header {
  &__top {
    background-color: $dark-900;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 50px;
    color: $white;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding-left: 44px;
    position: relative;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 32px;
      height: 22px;
      transform: translateY(-50%);
      background-image: url("../images/icons/icon-del-address.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--delivery::before {
      background-image: url("../images/icons/icon-del-address.svg");
    }

    &--phone::before {
      background-image: url("../images/icons/icon-tel.svg");
      transform: translate(10px, -50%);
    }
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__bottom {
    background-color: $main-color;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }
}

.logo {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
  &:focus {
    outline-color: $white;
  }
}

.catalog-menu {
  padding: 17px 18px;
  background-color: $white;
  color: $main-color;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $green-200;
  }
  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
  }
}

.catalog-menu span {
  position: relative;
  padding: 0 21px 0 43px;
  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 17px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/icons/nav_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    // background-size: contain;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 16px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.search-form {
  max-width: 577px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

  &__form {
    @extend %lato-400;
    width: 100%;
    padding: 15px 13px 15px 50px;
    height: 50px;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 6px 0px 0px 6px;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    }

    &::placeholder {
      color: $dark-900;
    }
  }
  &__label {
    width: 100%;
  }
  &__img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    background-image: url("../images/icons/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
  }

  &__btn {
    padding: 15px 52px;
    color: $white;
    background-color: $dark-900;
    border: none;
    border-radius: 0px 6px 6px 0px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }
    &:active {
      background-color: $dark-800;
      color: rgba(255, 255, 255, 0.5);
    }
    // У меня почему-то при клеке врубается box-shadow
    &:focus {
      background-color: $dark-800;
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
      outline: none;
    }
  }
}

.user-nav {
  max-width: 153px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__link {
    padding: 9px 12px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background-color: $white;
      border-radius: 3px;
    }
    &:hover::before {
      opacity: 0.1;
    }
    &:active::before {
      opacity: 0.3;
    }
    &:focus {
      outline-color: $white;
    }
    & span {
      position: absolute;
      top: 4px;
      left: 6px;
      width: 18px;
      height: 18px;
      font-size: 10px;
      line-height: 18px;
      letter-spacing: 0.03em;
      color: $accent;
      text-align: center;
      border-radius: 50%;
      background-color: $white;
    }
  }
}

.footer {
  background-color: $dark-900;
  color: $white;
  @extend %lato-400;

  &__top {
    padding: 30px 0;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    max-width: 468px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-bottom: 18px;
  }
  &__link {
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
  &__contact {
    max-width: 205px;
    width: 100%;
    text-align: center;
  }
  &__hotline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  &__phone,
  &__adress {
    transition: text-decoration 0.3s ease-in-out;
    &:hover {
      text-decoration-line: underline;
    }
  }
  &__adress {
    display: inline-block;
    margin-bottom: 18px;
  }

  &__social {
    display: flex;
  }

  &__social-item {
    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__bottom {
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__accept {
    display: flex;
  }
  &__image:not(:last-child) {
    margin-right: 24px;
  }
}

.subscription {
  max-width: 300px;
  width: 100%;
  &__label {
    margin-bottom: 18px;
    display: inline-block;
  }
  &__inner {
    display: flex;
  }
  &__form {
    max-width: 182px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    &::placeholder {
      color: #4f4f4f;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px #e0edcf;
    }
  }
  &__btn {
    @extend %lato-700;
    padding: 12px;
    text-transform: uppercase;
    color: $white;
    background-color: $main-color;
    font-size: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0px 6px 6px 0px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: $hover-btn;
    }
    &:active {
      background-color: $down-btn;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
    &:focus {
      background-color: $down-btn;
      box-shadow: 0px 0px 0px 4px #e0edcf;
    }
  }
}

@import "media";
